{% extends 'painel.twig' %}

{% block conteudo_interno %}
<hgroup class="page-header">
	<h1>Cliente</h1>
	<h2>{{ cliente.nome }}</h2>
	
	<ul class="nav nav-pills">
		<li{% if menu == 'visualizar' %} class="active"{% endif %}><a href="{{ url('/cliente', {id: cliente.id}) }}">Visualizar</a></li>
		<li{% if menu == 'usuarios' %} class="active"{% endif %}><a href="{{ url('/cliente/usuarios', {id: cliente.id}) }}">Usuários</a></li>
		<li{% if menu == 'veiculos' %} class="active"{% endif %}><a href="{{ url('/cliente/veiculos', {id: cliente.id}) }}">Veículos</a></li>
		<li{% if menu == 'faturas' %} class="active"{% endif %}><a href="{{ url('/cliente/faturas', {id: cliente.id}) }}">Faturas</a></li>
		<li{% if menu == 'alterar' %} class="active"{% endif %}><a href="{{ url('/cliente/alterar', {id: cliente.id}) }}">Alterar</a></li>
		<li{% if menu == 'apagar' %} class="active"{% endif %}><a href="{{ url('/cliente/apagar', {id: cliente.id}) }}">Apagar</a></li>
	</ul>
</hgroup>

{% block painel %}{% endblock %}
{% endblock %}